//COLORS

$pink: #f32c9b;
$pink-dark: #c61083;
$pink-light: #f76cba;

$white: #fff;

$grey-dark: #303531;
$grey-dark-2: #212522;
$grey-light: rgb(241, 241, 241);
$grey-text: #777;

$black: #000;
$facebook: #3b5998;
$isntagram: #517fa4;

$card-blue: #314174;
$card-blue-dark: #17203e;
$card-red: #f66d7f;
$card-red-dark: #951d2d;
$card-purple: #72225f;
$card-purple-dark: #2f0826;
$card-green: #89b45b;
$card-green-dark: #395719;



