.footer {
    background-color: $grey-dark;
    padding: 10rem 5rem;
    font-size: 1.4rem;
    line-height: 2.5rem;
    backface-visibility: hidden;
    
    &__navigation {
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: block;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            display: block;
            color: $white;
            transition: all .2s;
            
        }   

        &:hover, 
        &:active {
            color: $pink;
        }
    }

    &__kontaktai {

        &-tekstas {
            color: $white;
        }
    }

    &__logo-mi {
        width: 30rem;
    }

    &__copyright {
        display: inline;
    }
    
}