.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 45rem;
    margin-top: 3rem;
    margin-bottom: 10rem;

    &__side {
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: .3rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($black, .15);
        padding: 5rem;

        &--front {
            background-color: $white;            
        }

        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $card-blue, $card-blue-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $card-red, $card-red-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $grey-text, $grey-dark);
            }
            &-4 {
                background-image: linear-gradient(to right bottom, $grey-text, $grey-dark);
            }
            &-5 {
                background-image: linear-gradient(to right bottom, $grey-text, $grey-dark);
            }
            &-6 {
                background-image: linear-gradient(to right bottom, $grey-text, $grey-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 35rem;
        &--1 {
            background-image: url(../img/matrix_socolor.jpg);
        }
        &--2 {
            background-image: url(../img/matrix_colorsync.jpg);
        }
        &--3 {
            background-image: url(../img/matrix_soboost.jpg);
        }
        &--4 {
            background-image: url(../img/matrix_colorinsider.jpg);
        }
        &--5 {
            background-image: url(../img/matrix_totalresults.jpg);
        }
        &--6 {
            background-image: url(../img/matrix_biolage.jpg);
        }
    }

    //BACK SIDE STYLIGN
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__text-box-card {
        text-align: center;
        font-size: 1.5rem;
        color: $white;
        margin-bottom: 5rem;
    }
}