.header-secondary {
    background-image: linear-gradient(rgba($black, 0.8),
    rgba($black, 0.2)),
    url(/img/galery_header.jpg);
    background-position: right;
}

.gallery {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  max-width: 120rem;
}

.gallery-photo {
  width: 25%;
  height: 40rem;
  float: left;
  position: relative;
  display: inline;
}

.gallery-img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
  overflow: hidden;
  position: relative;
}

.gallery-img:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 76.8rem) {
  .gallery-photo {
    width: 48%;
    margin: 1%;
  }
}

@media screen and (max-width: 48rem) {
  .gallery-photo {
    width: 98%;
    margin: 1%;
  }
}