.header-secondary {
    background-image: linear-gradient(rgba($black, 0.8),
    rgba($black, 0.2)),
    url(/img/header-paslaugos.jpg);
}

.paslaugos {
    display: inline-block;
    padding: 7rem 13rem;
    font-size: 1.6rem;
}








